<div class="container bg-white mt-4 py-4 rounded-2">
  <!-- Section: Mes locations en cours -->
  <h3 class="mb-4 text-primary">Mes locations en cours</h3>
  <div class="container py-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <% @reservations.each do |reservation| %>
      <% if reservation.status == "confirmée" %>
        <div class="col">
          <div class="card h-100 bg-white shadow-sm border-0 rounded-4 position-relative">
            <div class="position-absolute top-0 start-0 ">
              <%= link_to '❌', [reservation.property, reservation], method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette réservation?' }, class: 'btn btn-link text-danger btn-sm text-decoration-none' %>
            </div>
            <div class="card-header border-0 pb-0 text-center">
              <h5 class="text-primary"><%= reservation.property.title %></h5>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-4">
                <li><i class="bi bi-calendar-check me-2"></i> <%= "#{reservation.start_date} / #{reservation.end_date}" %></li>
                <li><i class="bi bi-person-circle me-2"></i> <%= "#{reservation.first_name} #{reservation.last_name}" %></li>
                <li><i class="bi bi-telephone-fill me-2"></i> <%= reservation.phone %></li>
              </ul>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted"><%= "#{reservation.total_price} €" %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


  <hr class="separator">

  <!-- Section: Mes demandes -->
  <div class="row p-3">
    <div class="col-12">
      <h3 class="mb-4 text-primary">Mes demandes</h3>
    </div>

    <% if @reservations.none? { |reservation| reservation.status == "en_attente" } %>
      <p class="text-muted text-center">Vous n'avez pas de demandes en attente</p>
    <% else %>
      <div class="col-md-12 mes_demandes">
        <% @reservations.each do |reservation| %>
          <% if reservation.status == "en_attente" %>
            <div class="card bg-light mb-4 shadow-sm border-0 rounded-3">
              <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="card-title mb-2 text-primary">
                    <%= "Demande de location par #{reservation.first_name} #{reservation.last_name}" %>
                  </h5>
                  <p class="card-text mb-1"><i class="bi bi-calendar-event me-2"></i><%= "Du #{reservation.start_date} au #{reservation.end_date}" %></p>
                  <p class="card-text"><i class="bi bi-telephone me-2"></i><%= "Téléphone : #{reservation.phone}" %></p>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Demande_<%= reservation.id %>">
                    Voir la demande
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="Demande_<%= reservation.id %>" tabindex="-1" aria-labelledby="ModalDemande_<%= reservation.id %>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="ModalDemande_<%= reservation.id %>"><%= "Demande de location par #{reservation.civility} #{reservation.first_name} #{reservation.last_name}" %></h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p><i class="bi bi-calendar-event me-2"></i><%= "Du #{reservation.start_date} au #{reservation.end_date}" %></p>
                          <p><i class="bi bi-telephone me-2"></i><%= "Téléphone : #{reservation.phone}" %></p>
                          <p><i class="bi bi-envelope me-2"></i><%= "Email : #{reservation.email}" %></p>
                          <p><i class="bi bi-people me-2"></i><%= "Nombre de voyageurs : #{reservation.number_of_guests}" %></p>
                          <p><i class="bi bi-person me-2"></i><%= "Présentation : #{reservation.message} " %></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-end" style="width: 11rem;">
                  <h6 class="text-success mb-3">En attente</h6>
                  <div class="btn-group">
                    <%= button_to "Accepter", reservation_path(reservation, reservation: { status: 'confirmée' }), method: :patch, class: "btn btn-outline-warning", data: { confirm: "Êtes-vous sûr de vouloir confirmer la réservation ?" } %>
                    <%= button_to "Refuser", reservation_path(reservation, reservation: { status: 'annulée' }), method: :patch, class: "btn btn-outline-danger", data: { confirm: "Êtes-vous sûr de vouloir refuser la réservation ?" } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr class="separator">
  </div>
  <!-- Section: Mes annonces -->
<div class="container bg-white py-4">
  <h3 class="text-primary my-4">Gestion des propriétés</h3>

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Adresse</th>
        <th>Capacité</th>
        <th>Prix</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.title %></td>
          <td><%= property.address %></td>
          <td><%= property.capacity %></td>
          <td><%= property.price_per_night %></td>
          <td>
            <%= link_to 'Modifier', edit_property_path(property), class: 'btn btn-outline-success btn-sm' %>
            <%= link_to 'Supprimer', property, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette propriété?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <%= link_to 'Ajouter une nouvelle propriété', new_property_path, class: 'btn btn-primary' %>
  </div>
</div>
