<section>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1562450254-3c4225aa1bcd?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
  <div class="container d-flex">
    <div>
      <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
      <p>Change your life and learn to code at one of our campuses around the world.</p>
      <a class="btn btn-primary rounded-5" href="#">Apply now</a>
      </div>
    <div class="banner-card">
       <div class="search-bar">
       </div>
    </div>
  </div>
</div>
</section>
<section>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Our latest properties</h2>
      </div>
    </div>
    <div class="row">
      <% @properties.each do |property| %>
        <div class="col-4">
          <div class="card">
            <%= image_tag 'andri-klopfenstein-c5XrSx7WlPk-unsplash.jpg', class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= property.title%></h5>
              <p class="card-text"><%= property.description %></p>
              <p class="card-text"><strong>Price:</strong> <%= property.price_per_night %></p>
              <%= link_to "View", property_path(property), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
      </div>
