
<div class="container bg-white pt-3">
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "erreur") %> empêchent la sauvegarde :</h2>
      <ul>
        <% @property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="text-primary text-center pt-2">Créer un logement</h1>
  <hr class="separator--small">

  <%= simple_form_for @property do |f| %>
  <div class="mx-5">

    <div class="form-group">
      <%= f.input :title, required: true, label: "Titre", input_html: { class: "form-control" } %>
      <%= f.input :description, required: true, label: "Description", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <div class="form-check-inline">
        <%= f.input :capacity,label:"Capacité", as: :radio_buttons, collection: (1..10).to_a, required: true, item_wrapper_class: "form-check form-check-inline" %>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check-inline">
        <%= f.input :bedrooms, label:"Chambres", as: :radio_buttons, collection: (1..5).to_a, required: true, item_wrapper_class: "form-check form-check-inline" %>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check-inline">
        <%= f.input :bathrooms, label: "Salles de bain", as: :radio_buttons, collection: (1..5).to_a, required: true, item_wrapper_class: "form-check form-check-inline" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.input :price_per_night, label: "Prix par nuit", as: :integer, input_html: { step: 1 } %>
      <%= f.input :address, label: "Adresse" %>
    </div>

    <div class="form-group">
      <%= f.input :square_meters, label: "Mètres carrés", input_html: { type: 'number' }, required: true %>
    </div>

    <div class="form-group">
      <%= f.input :cleaning_price, label: "Prix du ménage par m²", input_html: { type: 'number', step: 1 }, required: true %>
    </div>


<hr class="separator">

    <div data-controller="equipments" class="pt-2">
      <h2>Ce que propose ce logement</h2>
      <div data-equipments-target="list" class="row justify-content-space-around">
        <% @equipment_categories.each do |category, equipments| %>
          <h4 class="col-12 pt-2 m-2"><%= category %></h4>
          <div class="col-6 ">
            <% equipments.each_with_index do |equipment, index| %>
              <% if index.even? %>
                <div class="form-check ">
                  <%= check_box_tag "property[equipments][]", equipment, false, id: "equipment_#{equipment}", class: "form-check-input" %>
                  <%= label_tag "equipment_#{equipment}", equipment, class: "form-check-label" %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-6">
            <% equipments.each_with_index do |equipment, index| %>
              <% if index.odd? %>
                <div class="form-check">
                  <%= check_box_tag "property[equipments][]", equipment, false, id: "equipment_#{equipment}", class: "form-check-input" %>
                  <%= label_tag "equipment_#{equipment}", equipment, class: "form-check-label" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

<hr class="separator">
<div class="form-group mb-3">
  <%= f.label :first_image, "Ajouter l'image principale" %>
  <%= f.file_field :first_image, accept: 'image/*', class: "form-control", data: { cloudinary_field: true } %>
</div>

<div class="form-group">
  <%= f.label :photos, "Ajouter d'autres photos" %>
  <%= f.file_field :photos, multiple: true, accept: 'image/*', class: "form-control", data: { cloudinary_field: true } %>
</div>

    <div class="actions pt-5 d-flex justify-content-end pb-5">
      <%= f.submit "Créer le logement", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
