<!-- =======================
Main Title START -->
<section class="py-0 pt-sm-5">
  <div class="container position-relative">
    <!-- Title and button START -->
    <div class="row mb-3">
      <div class="col-12">
        <!-- Meta -->
        <div class="d-lg-flex justify-content-lg-between mb-1">
          <!-- Title -->
          <div class="mb-2 mb-lg-0">
            <h1 class="fs-2 mb-1 title-font text-primary"><%= @property.title %></h1>
            <p class="mb-0 text-muted"><i class="bi bi-geo-alt me-2"></i><%= @address %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Title and button END -->
  </div>
</section>
<!-- =======================
Main Title END -->

<!-- =======================
Image gallery START -->
<section class="card-grid pt-0 mb-5">
  <div class="container">
    <div class="row g-2">
      <!-- Image de profil (grande image à gauche) -->
      <div class="col-md-6">
        <% if @property.first_image.attached? %>
          <%= cl_image_tag @property.first_image.key, width: 600, height: 600, crop: :fill, class: "w-100 h-auto rounded-5 cursor-pointer", data: { toggle: "modal", target: "#galleryModal" } %>
        <% else %>
          <%= image_tag 'fallback-image.png', alt: 'Aucune image de profil disponible', class: 'w-100 h-auto rounded-5 cursor-pointer' %>
        <% end %>
      </div>

      <!-- Section des petites images à droite (2x2) -->
      <div class="col-md-6">
        <div class="row">
          <% (0..3).each do |index| %> <!-- Affiche jusqu'à 4 images -->
            <div class="col-6 mb-2 position-relative">
              <% if @property.photos.attached? && @property.photos[index].present? %>
                <%= cl_image_tag @property.photos[index].key, class: 'w-100 h-auto rounded-5 cursor-pointer', data: { toggle: "modal", target: "#galleryModal" } %>
              <% else %>
                <%= image_tag 'fallback-image.png', alt: 'Image de fallback', class: 'w-100 h-auto rounded-5 cursor-pointer' %>
              <% end %>

                <% if index == 3 %> <!-- 4ème image -->
                <!-- Superposition pour opacité -->
                <div class="overlay-show position-absolute rounded-5 top-0 start-0 w-100 h-auto"></div>
                <!-- Bouton "Voir la galerie complète" -->
                <div class="position-absolute bottom-0 end-0 m-4">
                  <button type="button" class="btn btn-outline-light border border-light rounded-pill px-4 py-2 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#galleryModal">
                  <i class="bi bi-images me-2"></i> Voir la galerie complète
                  </button>
                </div>
                <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modale pour la galerie d'images avec un carrousel -->
  <div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="galleryModalLabel">Toutes les photos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Carrousel -->
          <div id="carouselGallery" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% if @property.photos.attached? %>
                <% @property.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= 'active' if index == 0 %>">
                    <%= cl_image_tag photo.key, class: 'd-block w-100 img-fluid rounded' %>
                  </div>
                <% end %>
              <% else %>
                <div class="carousel-item active">
                  <%= image_tag 'fallback-image.png', alt: 'Image de fallback', class: 'd-block w-100 img-fluid rounded' %>
                </div>
              <% end %>
            </div>
            <!-- Contrôles du carrousel -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselGallery" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Précédent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselGallery" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Suivant</span>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- =======================
Image gallery END -->

<!-- =======================
About hotel START -->
<section class="pt-0">
  <div class="container" data-sticky-container>
    <div class="row g-4 g-xl-5">
      <!-- Content START -->
      <div class="col-xl-7 col-lg-12 order-2 order-xl-1">
        <div class="vstack gap-5">
          <!-- About hotel START -->
          <div class="card bg-transparent border-0">
            <!-- Card header -->
            <div class="card-header border-bottom bg-transparent px-0 pt-0">
              <h3 class="mb-2 title-font text-primary">Informations</h3>
            </div>

            <!-- Card body START -->
            <div class="card-body pt-4 p-0">
              <p class="mb-3"><%= @property.description %></p>
            </div>
            <!-- Card body END -->
          </div>
          <!-- About hotel END -->

          <!-- Amenities START -->
          <div class="card bg-transparent border-0">
            <!-- Card header -->
            <div class="card-header border-bottom bg-transparent px-0 pt-0">
              <h3 class="card-title mb-2 title-font text-primary mb-0">Equipements</h3>
            </div>

            <!-- Card body START -->
            <div class="card-body pt-4 p-0">
              <div class="row g-4">
                <!-- Activities -->
<div class="col-sm-6">
  <% # Définir un compteur pour le nombre de catégories affichées %>
  <% display_limit = 4 %>
  <% category_count = 0 %>

  <% @equipment_categories.each do |key, equipments| %>
    <% if equipments.any? { |equipment| @property.equipments.include?(equipment) } %>
      <% category_count += 1 %>
      <% # Afficher les premières 4 catégories directement, le reste dans un conteneur caché %>
      <div class="equipment-category <%= category_count > display_limit ? 'collapse' : '' %>" <%= category_count > display_limit ? 'id=equipmentCollapse' : '' %>>
        <h5><%= key %></h5>
        <div class="equipment-items">
          <% equipments.each do |equipment| %>
            <% if @property.equipments.include?(equipment) %>
              <div class="equipment-item">
                <p><%= equipment %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% # Afficher le bouton seulement si le nombre de catégories dépasse 4 %>
  <% if category_count > display_limit %>
    <button class="btn btn-primary mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#equipmentCollapse" aria-expanded="false" aria-controls="equipmentCollapse">
      Voir tout les équipements
    </button>
  <% end %>
</div>


              </div>
            </div>
            <!-- Card body END -->
          </div>
          <!-- Amenities END -->
            <div class="google-map-frame">
            <iframe class="rounded-5"
              width="100%"
              height="450"
              style="border:0"
              loading="lazy"
              allowfullscreen
              referrerpolicy="no-referrer-when-downgrade"
              src="https://maps.google.com/maps?q=<%= CGI.escape(@address) %>&output=embed">
            </iframe>
            </div>

          <!-- Hotel Policies START -->
          <div class="card bg-transparent border-0">
            <!-- Card header -->
            <div class="card-header bg-transparent px-0 pt-0">
              <h3 class="mb-0 title-font text-danger"></h3>
            </div>
            <!-- Card body START -->
            <!-- Card body END -->
          </div>
          <!-- Hotel Policies END -->
        </div>
      </div>
      <!-- Content END -->

      <!-- Right side content START -->
      <aside class="col-xl-5 col-lg-12 order-1 order-xl-2 d-xl-block"
             data-controller="total-price"
             data-total-price-priceperday-value="<%= @property.price_per_night %>"
             data-total-price-cleaningPrice-value="<%= @cleaning %>">
        <div class="card bg-transparent border rounded-5 sticky-top z-sticky-card" style="top: 120px;">
          <!-- Card header START -->
          <div class="card-header bg-transparent border-bottom">
            <!-- Title -->
            <h5 class="card-title mb-2 mt-2 title-font text-red">Vérification des disponibilitées</h5>
          </div>
          <!-- Card body START -->
          <div class="card-body">
            <%= simple_form_for([@property, @reservation]) do |f| %>
              <div class="row g-4 mb-3" data-controller="datepicker" data-datepicker-reserved-ranges-value="<%= @reserved_ranges%>">

                <div class="col-md-12 d-flex">
                  <div class="bg-light py-3 px-4 rounded-5 me-2">
                    <h5 class="fw-light small mb-1">

                      <i class="fa-solid fa-calendar-check me-2" style="color: #7dc0a3;"></i> Arrivée
                    </h5>
                    <%= f.input :start_date, label: false, placeholder:"selectionnez une date", as: :string, input_html: { type: 'date', class: 'rounded-5 mt-3', data: { datepicker_target: "startInput", total_price_target: 'startDate', action: 'change->total-price#calculPrice' } } %>
                  </div>

                  <div class="bg-light py-3 px-4 rounded-5">
                    <h5 class="fw-light small mb-1">
                      <i class="fa-solid fa-calendar-check me-2" style="color: #7dc0a3;"></i> Départ
                    </h5>
                    <%= f.input :end_date, label: false, placeholder:"selectionnez une date", as: :string, input_html: { type: 'date', class: 'rounded-5 mt-3', data: { datepicker_target: "endInput", total_price_target: "endDate", action: 'change->total-price#calculPrice' } } %>
                  </div>
                </div>
                <%= f.input :add_cleaning,
                  as: :boolean,
                  label: "Ajouter le ménage pour le logement ?(+ #{@cleaning} €)",
                  input_html: {data: { 'total-price-target' => "addCleaning", action: "change->total-price#calculPrice change->total-price#cleaningStatus" } } %>
              </div>
              <!-- Aperçu du prix -->
              <ul class="list-group list-group-borderless mb-0">
                <li class="list-group-item px-2 d-flex border-0 justify-content-between">
                  <span class="h6 fw-light mb-0"></span>
                  <span class="h6 fw-light mb-0"></span>
                </li>
              </ul>

              <!-- Prix total -->
              <div class="d-flex justify-content-end align-items-center">
                <span class="h5 mb-0 title-font text-danger me-3">Prix total (hors taxe de séjour**):</span>
                <h5 class="mb-0 title-font text-danger" data-total-price-target="totalPrice"></h5>
              </div>
                <p class="text-muted justify-content-end d-flex">**5€/personnes et par jours 3.50€ - 5 ans.</p>
              <!-- Prix de ménage en tant que donnée dans un div caché -->

              <!-- Boutons d'action -->
              <div class="d-grid gap-2 mt-3">
                <button id="buttonmodal" class="btn btn-success rounded-4 text-light btn-disabled" disabled data-bs-toggle="modal"
                        data-bs-target="#reservationModal"
                        data-action="click->modal#openModal"
                        >
                  Je réserve mon séjour
                </button>
                <%= link_to 'Choisir un autre logement', "#{properties_path}#section-target", class: 'btn btn-primary rounded-4 custom-font-btn-show-2 text-light' %>
              </div>
            <% end %>
          </div>
          <!-- Card body END -->
        </div>
      </aside>
      <!-- Right side content END -->
      <!-- Modal de réservation -->
      <%= simple_form_for([@property, @reservation]) do |f| %>


        <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true"
             data-controller="modal" data-total-price-priceperday-value="<%= @property.price_per_night %>">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="reservationModalLabel">Demande de réservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <!-- Dates de réservation -->
                  <div class="form-group mb-3">
                    <h6 class="fs-5">Arrivée</h6>
                    <p id="modalStartDate" class="fs-5 text-danger">Sélectionnez une date</p>
                    <input type="hidden" id="hiddenStartDate" name="start_date" value="">
                  </div>
                  <div class="form-group mb-3">
                    <h6 class="fs-5">Départ</h6>
                    <p id="modalEndDate" class="fs-5 text-danger">Sélectionnez une date</p>
                    <input type="hidden" id="hiddenEndDate" name="end_date" value="">
                  </div>

                  <div class="form-group mb-4">
                    <h6 class="fs-5">Prix total (hors taxe de séjour)</h6>
                    <p id="modalTotalPrice" class="fs-5 text-danger">0.00 €</p>
                    <input type="hidden" id="hiddenTotalPrice" name="total_price" value="0.00">
                  </div>
                  <div >
                    <p id="modalAddCleaning"></p>
                      <input type="hidden" id="hiddenAddCleaning" name="reservation[add_cleaning]" value="">
                  </div>

                  <!-- Formulaire de réservation -->
                  <div class="form-group mb-3">
                    <div class="d-flex">


                    </div>
                    <%= f.input :civility, collection: ['Mr', 'Mme', 'Mlle'], label: 'Civilitées (Mr,Mme,Mlle)', input_html: { class: 'form-select' } %>
                  </div>
                  <div class="form-group mb-3">

                    <%= f.input :first_name,required: true, label: 'Prénom', input_html: { class: 'form-control', required: true  } %>
                  </div>
                  <div class="form-group mb-3">

                    <%= f.input :last_name, label: 'Nom', required: true, input_html: { class: 'form-control' } %>
                  </div>
                  <div class="form-group mb-3">

                    <%= f.input :email, label: 'Email', input_html: { class: 'form-control', required: true  } %>
                  </div>
                  <div class="form-group mb-3">

                    <%= f.input :phone,label: 'Téléphone', input_html: { class: 'form-control', required: true  } %>
                  </div>
                  <div class="form-group mb-3">

                    <%= f.input :number_of_guests, label: 'Nombre de personnes', input_html: { class: 'form-control', min: 1, max: @property.capacity , required: true } %>
                  </div>
                  <div class="form-group mb-3">

                    <%= f.input :message, label: 'Petite présentation', placeholder:"Une petite présentation pour vous connaitre un peu plus :) ." , input_html: { class: 'form-control', required: true  } %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit "Envoyer ma demande", class: "btn btn-primary" %>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Fin du modal de réservation -->
    </div>
  </div>
</section>
<!-- Fin du formulaire de réservation -->
  <hr class="separator">
<section>
  <div class="reglement-section p-4 rounded shadow-sm bg-primary text-light">
    <!-- Titre de la section -->
    <h3 class="mb-4 text-light" style="font-weight: 600;">Règlement de la propriété</h3>

    <!-- Contenu du règlement -->
    <div class="row gy-4">

      <!-- Conditions générales -->
      <div class="col-lg-4 col-md-6">
        <div class="p-4 border rounded-4 bg-primary text-center shadow-sm">
          <i class="fas fa-file-contract fa-2x mb-3 text-light"></i>
          <h5 class="mb-3 text-light">Conditions générales</h5>
          <ul class="list-unstyled text-light">
        <div class="row">
          <div class="col-6">
            <li class="d-flex align-items-center"><i class="fas fa-paw me-2 text-light"></i>Animaux non autorisés</li>
            <li class="d-flex align-items-center"><i class="fas fa-smoking-ban me-2 text-light"></i>Interdiction de fumer</li>
          </div>
          <div class="col-6">
            <li class="d-flex align-items-center"><i class="fas fa-volume-up me-2 text-light"></i>Bruit limité après 22h00</li>
          </div>
        </div>
          </ul>
        </div>
      </div>

      <!-- Politique d'annulation -->
      <div class="col-lg-4 col-md-6">
        <div class="p-4 border rounded-4 bg-primary text-center shadow-sm">
          <i class="fas fa-calendar-times fa-2x mb-3 text-light"></i>
          <h5 class="mb-3 text-light">Politique d'annulation</h5>
          <ul class="list-unstyled text-light">
            <li class="d-flex align-items-center"><i class="fas fa-times-circle me-2 text-light"></i>Annulation gratuite jusqu'à 7 jours</li>
            <li class="d-flex align-items-center"><i class="fas fa-exclamation-triangle me-2 text-light"></i>Frais de 50% pour annulation tardive</li>
          </ul>
        </div>
      </div>

      <!-- Arrivée et départ -->
      <div class="col-lg-4 col-md-6">
        <div class="p-4 border rounded-4 bg-primary text-center shadow-sm">
          <i class="fas fa-clock fa-2x mb-3 text-light"></i>
          <h5 class="mb-3 text-light">Arrivée et départ</h5>
          <ul class="list-unstyled text-light">
            <li class="d-flex align-items-center"><i class="fas fa-door-open me-2 text-light"></i>Arrivée : à partir de 15h00</li>
            <li class="d-flex align-items-center"><i class="fas fa-door-closed me-2 text-light"></i>Départ : avant 11h00</li>
          </ul>
        </div>
      </div>

      <!-- Dépôt de garantie -->
      <div class="col-lg-12">
        <div class="p-4 border rounded-4 bg-primary text-center shadow-sm">
          <i class="fas fa-money-bill-wave fa-2x mb-3 text-light"></i>
          <h5 class="mb-3 text-light">Dépôt de garantie</h5>
          <p class="mb-0 text-light">Un dépôt de garantie de 200 € est requis à l'arrivée, remboursé après vérification.</p>
        </div>
      </div>

    </div>
  </div>
</section>
