
<!-- =======================
Main Title START -->
<section class="py-0 pt-sm-5">
	<div class="container position-relative">
		<!-- Title and button START -->
		<div class="row mb-3">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-lg-flex justify-content-lg-between mb-1">
					<!-- Title -->
					<div class="mb-2 mb-lg-0">
						<h1 class="fs-2 mb-4 title-font text-success">Le <%= @property.title %> </h1>

					</div>


				</div>
			</div>
		</div>
		<!-- Title and button END -->


	</div>
</section>
<!-- =======================
Main Title END -->

<
<section class ="carousel">

<div class = "custom-caroussel-size mb-5 ">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner ">
    <div class="carousel-item active ">

      <%= image_tag 'andri-klopfenstein-c5XrSx7WlPk-unsplash.jpg', alt: 'Description of the image', class: ' d-block object-fit-cover-slider-home'; %>
    </div>
    <div class="carousel-item">

      <%= image_tag 'andri-klopfenstein-c5XrSx7WlPk-unsplash.jpg', alt: 'Description of the image', class: ' d-block object-fit-cover-slider-home'; %>
    </div>
    <div class="carousel-item">

      <%= image_tag 'andri-klopfenstein-c5XrSx7WlPk-unsplash.jpg', alt: 'Description of the image', class: ' d-block object-fit-cover-slider-home'; %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</section>

<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-7 col-lg-12 order-2 order-xl-1">
				<div class="vstack gap-5">

					<!-- About hotel START -->
					<div class="card bg-transparent border-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-2 title-font text-success">Informations</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">


							<p class="mb-3"><%= @property.description %></b></p>



						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->

					<!-- Amenities START -->
					<div class="card bg-transparent border-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="card-title mb-2 title-font text-success mb-0">Equipements</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="row g-4">
								<!-- Activities -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-biking me-2"></i>Activités</h6>
									<!-- List -->
									<ul class="list-group  list-group-borderless mt-2 mb-0">
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Swimming pool
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Spa
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Kids' play area
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Gym
										</li>
									</ul>
								</div>

								<!-- Payment Method -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-credit-card me-2"></i>Payment Method</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Credit card (Visa, Master card)
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Cash
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Debit Card
										</li>
									</ul>
								</div>

								<!-- Services -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-concierge-bell me-2"></i>Services</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Dry cleaning
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Room Service
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Special service
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Waiting Area
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Secrete smoking area
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Concierge
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Laundry facilities
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Ironing Service
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Lift
										</li>
									</ul>
								</div>

								<!-- Safety & Security -->
								<div class="col-sm-6">
									<h6><i class="bi bi-shield-fill-check me-2"></i>Safety & Security</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Doctor on Call
										</li>
									</ul>

									<h6><i class="fa-solid fa-volume-up me-2"></i>Staff Language</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>English
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Spanish
										</li>
										<li class="list-group-item bg-white border-0 pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Hindi
										</li>
									</ul>
								</div>

							</div>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Amenities END -->



					<!-- Hotel Policies START -->
					<div class="card bg-transparent border-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-0 title-font text-success">Nos Rêgles</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<!-- List -->
							<ul class="list-group list-group-borderless mb-2">
								<li class="list-group-item border-0 bg-white d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>This is a family farmhouse, hence we request you to not indulge.
								</li>
								<li class="list-group-item border-0 bg-white d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>Drinking and smoking within controlled limits are permitted at the farmhouse but please do not create a mess or ruckus at the house.
								</li>
								<li class="list-group-item border-0 bg-white d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>Drugs and intoxicating illegal products are banned and not to be brought to the house or consumed.
								</li>
								<li class="list-group-item border-0 bg-white d-flex">
									<i class="bi bi-x-circle-fill me-2"></i>For any update, the customer shall pay applicable cancellation/modification charges.
								</li>
							</ul>

							<!-- List -->
							<ul class="list-group list-group-borderless mb-2">
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Check-in: 1:00 pm - 9:00 pm
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Check out: 11:00 am
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Self-check-in with building staff
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>No pets
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>No parties or events
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Smoking is allowed
								</li>
							</ul>


						</div>
						<!-- Card body END -->
					</div>
					<!-- Hotel Policies START -->
				</div>
			</div>
			<!-- Content END -->

					<!-- Right side content START -->
			<aside class="col-xl-5 col-lg-12 order-1 order-xl-2 d-xl-block">
				<div class="card bg-transparent border rounded-5 sticky-top z-sticky-card " style="top: 120px;">
					<!-- Card header START -->
					<div class="card-header bg-transparent border-bottom">
						<!-- Title -->
						<h4 class="card-title mb-2 mt-2 title-font text-success">Aperçu du séjour</h4>
					</div>

					<!-- Card body START -->
					<div class="card-body " >
               <%= simple_form_for([@property, @reservation]) do |f| %>




            <div class="row g-4 mb-3" data-controller="datepicker">
              <!-- Item -->
              <div class="col-md-12 d-flex">
                <div class="bg-light py-3 px-4 rounded-5 me-2">
                  <h5 class="fw-light small mb-1"><i class="fa-solid fa-calendar-check me-2" style="color: #7dc0a3;"></i> Check-in </h5>
                  <%= f.input :start_date, label: false,  as: :string, input_html: { class: 'rounded-5 mt-3', data: { target: "datepicker.startInput" } } %>
                </div>
                <div class="bg-light py-3 px-4 rounded-5">
                  <h5 class="fw-light small mb-1"><i class="fa-solid fa-calendar-check me-2" style="color: #7dc0a3;"></i> Check-out </h5>
                  <%= f.input :end_date, label: false, as: :string, input_html: { class: 'rounded-5 mt-3', data: { target: "datepicker.endInput" } } %>
                </div>
              </div>
            </div>

						<!-- List -->
						<ul class="list-group list-group-borderless mb-3">
							<li class="list-group-item px-2 d-flex border-0 bg-white justify-content-between">
								<span class="h6 fw-light mb-0">$6,100 x 2 Nights</span>
								<span class="h6 fw-light mb-0">$13,200</span>
							</li>
							<li class="list-group-item px-2 d-flex border-0 bg-white justify-content-between">
								<span class="h6 fw-light mb-0">10% campaign discount</span>
								<span class="h6 fw-light mb-0">-$500</span>
							</li>
							<li class="list-group-item px-2 d-flex border-0 bg-white justify-content-between">
								<span class="h6 fw-light mb-0">Services Fee</span>
								<span class="h6 fw-light mb-0">$100</span>
							<li class="list-group-item bg-light rounded-4 d-flex justify-content-between px-2 mt-3">
								<span class="h5 fw-normal mb-0 ps-1">Total</span>
								<span class="h5 fw-normal mb-0">$13,500</span>
							</li>
						</ul>

						<!-- Button -->
						<div class="d-grid gap-2">
              <!-- Button trigger modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
  Launch demo modal
</button>


            <!-- Button trigger modal -->

            <%= link_to 'Choisir un autre gite', "#{properties_path}#section-target", class: 'btn btn-primary rounded-4 text white custom-font-btn-show-2 text-white' %>
             <% end %>
            </div>
					</div>
					<!-- Card body END -->
				</div>
			</aside>
			<!-- Right side content END -->
		</div> <!-- Row END -->
	</div>

</section>
<!-- =======================
About hotel END -->
<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</main>
<!-- **************** MAIN CONTENT END **************** -->
