
<!-- =======================
Main Title START -->
<section class="py-0 pt-sm-5">
	<div class="container position-relative">
		<!-- Title and button START -->
		<div class="row mb-3">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-lg-flex justify-content-lg-between mb-1">
					<!-- Title -->
					<div class="mb-2 mb-lg-0">
						<h1 class="fs-2 mb-4 title-font text-success">Le <%= @property.title %> </h1>

					</div>


				</div>
			</div>
		</div>
		<!-- Title and button END -->


	</div>
</section>
<!-- =======================
Main Title END -->

<!-- =======================
Image gallery START -->
<section class="card-grid pt-0 mb-5">
	<div class="container">
		<div class="row g-2 ">
			<!-- Image -->
			<div class="col-md-6  h-50 ">
        <%= image_tag 'pierre-archi-pBo19ZxU9qE-unsplash.jpg', alt: 'Description of the image', class: ' w-100 h-custom rounded-5 show-fit-cover' %>
					<div class="card card-grid-lg border-0 card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(assets/images/gallery/14.jpg); background-position: center left; background-size: cover;">
						<!-- Card hover element -->
						<div class="hover-element position-absolute w-100 h-100">
							<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-6 ">
				<!-- Card item START -->
				<div class="row g-2">
					<!-- Image -->
					<div class="col-12  h-25 ">
        <%= image_tag 'pierre-archi-pBo19ZxU9qE-unsplash.jpg', alt: 'Description of the image', class: 'rounded-5   w-100 h-custom-1  show-fit-cover' %>
							<div class="card card-grid-sm border-0 card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(assets/images/gallery/13.jpg); background-position: center left; background-size: cover;">
								<!-- Card hover element -->
								<div class="hover-element position-absolute w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>

					<!-- Image -->
					<div class="col-md-6 ">
        <%= image_tag 'pierre-archi-pBo19ZxU9qE-unsplash.jpg', alt: 'Description of the image', class: 'rounded-5 w-100 h-custom-2 show-fit-cover' %>
							<div class="card card-grid-sm border-0 card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(assets/images/gallery/12.jpg); background-position: center left; background-size: cover;">
								<!-- Card hover element -->
								<div class="hover-element position-absolute w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>

					<!-- Images -->
					<div class="col-md-6">
							<!-- Background overlay -->
							<div class="bg-overlay bg-dark opacity-7"></div>

							<!-- Popup Images -->
              <%= image_tag 'pierre-archi-pBo19ZxU9qE-unsplash.jpg', alt: 'Description of the image', class: 'rounded-5 w-100 h-custom-2 show-fit-cover' %>



						</div>
					</div>
				</div>
				<!-- Card item END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Image gallery END -->

<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-7 col-lg-12 order-2 order-xl-1">
				<div class="vstack gap-5">

					<!-- About hotel START -->
					<div class="card bg-transparent border-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-2 title-font text-success">Informations</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">


							<p class="mb-3"><%= @property.description %></b></p>



						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->

					<!-- Amenities START -->
					<div class="card bg-transparent border-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="card-title mb-2 title-font text-success mb-0">Equipements</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="row g-4">
								<!-- Activities -->
								<div class="col-sm-6">
                   <p><% equipements = @property.equipments
                      equipements.split(",").each do |equipement| %>

                       <div class="mt-3"><i class="fa-solid fa-circle-check me-2"></i><%= equipement%></div>


                      <% end %></p>

								</div>





							</div>
						</div>
						<!-- Card body END -->
            <!-- app/views/locations/show.html.erb -->

					</div>
					<!-- Amenities END -->

<div class="google-map-frame">
  <iframe class ="rounded-5"
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://maps.google.com/maps?q=<%= CGI.escape(@address) %>&output=embed">
  </iframe>
</div>


					<!-- Hotel Policies START -->
					<div class="card bg-transparent border-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-0 title-font text-success">Nos Rêgles</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<!-- List -->
							<ul class="list-group list-group-borderless mb-2">
								<li class="list-group-item border-0 bg-white d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>This is a family farmhouse, hence we request you to not indulge.
								</li>
								<li class="list-group-item border-0 bg-white d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>Drinking and smoking within controlled limits are permitted at the farmhouse but please do not create a mess or ruckus at the house.
								</li>
								<li class="list-group-item border-0 bg-white d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>Drugs and intoxicating illegal products are banned and not to be brought to the house or consumed.
								</li>
								<li class="list-group-item border-0 bg-white d-flex">
									<i class="bi bi-x-circle-fill me-2"></i>For any update, the customer shall pay applicable cancellation/modification charges.
								</li>
							</ul>

							<!-- List -->
							<ul class="list-group list-group-borderless mb-2">
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Check-in: 1:00 pm - 9:00 pm
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Check out: 11:00 am
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Self-check-in with building staff
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>No pets
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>No parties or events
								</li>
								<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Smoking is allowed
								</li>
							</ul>


						</div>
						<!-- Card body END -->
					</div>
					<!-- Hotel Policies START -->
				</div>
			</div>
			<!-- Content END -->

					<!-- Right side content START -->
			<aside class="col-xl-5 col-lg-12 order-1 order-xl-2 d-xl-block" data-controller="total-price"   data-total-price-priceperday-value="<%= @property.price_per_night %>">
				<div class="card bg-transparent border rounded-5 sticky-top z-sticky-card " style="top: 120px;">
					<!-- Card header START -->
					<div class="card-header bg-transparent border-bottom">
						<!-- Title -->
						<h4 class="card-title mb-2 mt-2 title-font text-success">Aperçu du séjour</h4>
					</div>

					<!-- Card body START -->
					<div class="card-body  ">
               <%= simple_form_for([@property, @reservation]) do |f| %>




            <div class="row g-4 mb-3" data-controller ="datepicker">
              <!-- Item -->
              <div class="col-md-12 d-flex">
                <div class="bg-light py-3 px-4 rounded-5 me-2">
                  <h5 class="fw-light small mb-1"><i class="fa-solid fa-calendar-check me-2" style="color: #7dc0a3;"></i> Check-in </h5>
                  <%= f.input :start_date, label: false,  as: :string, input_html: { type: 'date', class: 'rounded-5 mt-3', data: { datepicker_target: "startInput" , total_price_target: 'startDate' } } %>
                </div>
                <div class="bg-light py-3 px-4 rounded-5">
                  <h5 class="fw-light small mb-1"><i class="fa-solid fa-calendar-check me-2" style="color: #7dc0a3;"></i> Check-out </h5>
                  <%= f.input :end_date, label: false, as: :string, input_html: { class: 'rounded-5 mt-3', data: { datepicker_target: "endInput", total_price_target: "endDate", action: 'change->total-price#calculPrice' } } %>
                </div>
              </div>
            </div>

						<!-- List -->
						<ul class="list-group list-group-borderless mb-3">
							<li class="list-group-item px-2 d-flex border-0 bg-white justify-content-between">
								<span class="h6 fw-light mb-0">$6,100 x 2 Nights</span>
								<span class="h6 fw-light mb-0">$13,200</span>
							</li>

						</ul>
              <div class="d-flex justify-content-between align-items-center">
									<span class="h5 mb-0 title-font text-success">Prix total HT</span>
                  <%= f.input :total_price, label: false, as: :decimal, input_html: { readonly: true, class: 'w-50 p-0 fs-5 mt-4 text-center bg-white border-0 title-font text-success', data: {'total-price-target' => 'totalPrice'} } %>
                  <span class="h5 mb-0 title-font text-success" > € </span>
								</div>
						<!-- Button -->
						<div class="d-grid gap-2">
              <!-- Button trigger modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
  Launch demo modal
</button>


            <!-- Button trigger modal -->

            <%= link_to 'Choisir un autre gite', "#{properties_path}#section-target", class: 'btn btn-primary rounded-4 text white custom-font-btn-show-2 text-white' %>
             <% end %>
            </div>
					</div>
					<!-- Card body END -->

				</div>
			</aside>
			<!-- Right side content END -->
		</div> <!-- Row END -->
	</div>

</section>
<!-- =======================
About hotel END -->
<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</main>
<!-- **************** MAIN CONTENT END **************** -->
