<div class="container mt-5">
  <h1 class="text-primary mb-4">Mentions Légales</h1>

  <section>
    <h2>1. Informations générales</h2>
    <p>
      Conformément aux dispositions des articles 6-III et 19 de la Loi pour la Confiance dans l’Économie Numérique (LCEN),
      nous informons les utilisateurs du site <%= link_to "Pat' Immo", root_path %> des informations suivantes :
    </p>
  </section>

  <section>
    <h2>2. Éditeur du site</h2>
    <p>
      Nom de l'entreprise : Pat'Immo<br>
      Adresse : [Adresse de l'entreprise]<br>
      Téléphone : [+]<br>
      Email : <%= mail_to 'patricia.brousson@sfr.fr' %><br>
      Directeur de la publication : [Patricia Brousson]
    </p>
  </section>

  <section>
    <h2>3. Hébergement</h2>
    <p>
      Hébergeur : [Nom de l'hébergeur]<br>
      Adresse : [Adresse de l'hébergeur]<br>
      Téléphone : [Numéro de téléphone de l'hébergeur]
    </p>
  </section>

  <section>
    <h2>4. Propriété intellectuelle</h2>
    <p>
      L’ensemble des contenus présents sur le site <%= link_to "Pat' Immo", root_path %> (textes, images, logos, etc.)
      est protégé par le droit d’auteur. Toute reproduction, modification, ou redistribution sans autorisation est interdite.
      Credit video banner : Vidéo de Michal Marek: https://www.pexels.com/fr-fr/video/vagues-se-precipitant-et-eclaboussant-sur-le-rivage-1409899/
    </p>
  </section>

  <section>
    <h2>5. Données personnelles</h2>
    <p>
      Conformément au Règlement Général sur la Protection des Données (RGPD), nous informons les utilisateurs que leurs
      données sont collectées pour les besoins de l'utilisation de nos services uniquement lors des reservations et de la prise de contact. Vous avez le droit d'accéder, de
      modifier, ou de supprimer vos données en nous contactant à l'adresse email : <%= mail_to 'patricia.brousson@sfr.fr' %>.
    </p>
  </section>

  <section>
    <h2>6. Cookies</h2>
    <p>
      Le site <%= link_to "Pat' Immo", root_path %> n'utilise pas de cookies.
    </p>
  </section>

  <section>
    <h2>7. Limitations de responsabilité</h2>
    <p>
      L'entreprise Pat' Immo ne pourra être tenue pour responsable des dommages directs et indirects causés au matériel
      de l’utilisateur, lors de l’accès au site.
    </p>
  </section>
</div>
