<nav data-controller="navbar" data-navbar-target="navbar" class="navbar navbar-expand-sm navbar-light py-3 navbar-sticky">
  <div class="container d-flex justify-content-between align-items-center h-100 flex-column flex-sm-row">

    <!-- Conteneur central avec liens et logo -->
    <div class="d-flex flex-column flex-sm-row flex-grow-1 justify-content-center align-items-center text-center text-sm-start">
      <!-- Lien vers les appartements -->
      <%= link_to "#{root_path}#locations", class: "text-decoration-none mx-3 d-flex align-items-center my-2 my-sm-0" do %>
        <p class="mb-0 fs-5">Nos logements</p>
      <% end %>

      <!-- Logo au centre avec marge autour -->
      <%= link_to root_path, class: "text-decoration-none fw-bold d-flex align-items-center mx-5 my-2 my-sm-0" do %>
        <%= image_tag "texte-logo.svg", alt: "Logo Immobilier", class: "mb-0" %>
      <% end %>

      <!-- Lien vers formulaire de contact -->
      <%= link_to "#{root_path}#form-contact", class: "text-decoration-none mx-3 d-flex align-items-center my-2 my-sm-0" do %>
        <p class="mb-0 fs-5">Contactez nous</p>
      <% end %>
    </div>

    <!-- Espaceur pour aligner le bouton à droite -->
    <div class="dropdown d-flex align-items-center my-2 my-sm-0">
      <% if user_signed_in? %>
        <% if current_user.email == 'user1@exemple.com' %>
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= "Bonjour Pat'" %>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li>
              <%= link_to "Mes réservations", profile_path, class: "dropdown-item text-decoration-none" %>
            </li>
            <li>
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
