<div class="container min-vh-100">
<div class="p-4">
<h2 class="text-align-center mt-3">Se connecter</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs mt-3">
    <%= f.input :email,
                required: false,
                label: "Adresse e-mail",
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
          required: false,
          label: "Mot de passe",
          input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me,label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Se connecter", class: "btn btn-outline-primary" %>
  </div>
<% end %>
</div>
</div>
