<!DOCTYPE html>
<html>
  <head>
    <title>Pat'Immo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body class="body-bg">
    <% if current_page?(root_path) %>  <!-- Corrected ERB syntax -->
      <%= render "shared/navbar_home" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
<%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/footer" %>
  </body>

</html>
