<!DOCTYPE html>
<html>
  <head>
    <title>Pat'Immo || prestation de service au Pays basque </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Location, Biarritz, Océan, Anglet, Vacances">
    <meta name="description" content="Locations de vacances sur la côte, à Biarritz et ses alentours. Séjournez près des plages et profitez du charme du Pays Basque.">
    <meta name="google-site-verification" content="hNh7B__Gdg3YCLwjjkGw5CRgtSZWkhc91MYx0F3WDzk" />
    <%= favicon_link_tag "favicon-pat.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  </head>

  <body class="body-bg">
    <% if current_page?(root_path) %>  <!-- Corrected ERB syntax -->
      <%= render "shared/navbar_home" %>
    <% else %>
      <%= render "shared/navbar" %>

    <% end %>
<%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/footer" %>
  </body>

</html>
