<!DOCTYPE html>
<html>
  <head>
    <title>BroussonBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
  </head>

  <body class="body-bg"><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/footer" %>
  </body>

</html>
